.navbar{
    background: linear-gradient(180deg, #1B1C37 0.51%, #1B1C37 0.52%, #292A52 100%);
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
    margin-left: 0.70rem;
    margin-right: 0.70rem;
}
.navbar a{
    color: #fff;
    font-size: 1.2rem;
}
.navbar a:hover{
    color: #7579FF;
}
#log-in{
    background-color: #7579FF;
    color: #fff;
    outline: none;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Poppins';
  }
  
  #logo{
      font-weight: 500;
  }

  /*Main*/
  body{
    font-family: 'Poppins';
  }
  .margin{
    margin: -2rem;
    margin-left: 4.5rem;
  }
  .txt-svg{
    top: 24rem;
    left: 36%;
    color: #fff;
  }
  .botao{
    margin-top: -25rem;
    margin-left: 23rem;
    font-weight: 500;
  
  }

#nao-seguir-trilha{
margin-left: 1rem;
background: #7579FF;
color: #fff;
font-family: 'Poppins';
}

#seguir-trilha{
    background: #7579FF;
    color: #fff;
    font-family: 'Poppins';
}
p {
font-size: 1rem;
}
h3{
    font-size:3rem;
}

/* Footer*/
footer{
    margin-top: 20%;
    overflow: hidden;
}