/*=== GERAL ====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --titulo: hsla(0, 0%, 0%, 1);
    --conteudo: hsla(0, 0%, 100%, 1);
    --secundario: hsla(237, 10%, 41%, 1);
    --botoes: hsla(237, 100%, 96%, 1);
  }

  body {
    overflow-x: hidden;
  }
  
/*Barra de Navegação*/

/*Fim Barra de Navegação*/
  /*=== Article ====*/
  article h1 {
    max-width: 800px; 
    min-width: 320px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 5rem;
    color: var(--titulo);
    margin-top: 1.5rem;
  }
  
  /*=== FORMS e Butões ====*/
  form h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 5rem;
    margin-top: 1rem;
    max-width: 800px;
  }
  form input {
    margin-top: .5rem;
    border: 1px solid;
    border-radius: 7px;
    background-color: var(--botoes);
    width: 100%;
    height: 3.5rem;
    max-width: 559px;
    max-height: 45px;
    outline: 0 none;
    box-shadow: none;
    box-shadow: none;
  }
  form input:focus {
    box-shadow:0px -5px 0px 0px #7579FF inset;
  }

  form input {
    max-width: 70%;
  }
  
  #proximo {
    background-color: var(--botoes);
    margin-left: 20px;
  }
  #proximo {
    background-color: #7579ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: var(--conteudo);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 3.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    
  }
  #proximo {
    outline: none;
  }
  /*=== SECTIONS ====*/
  
 .svg-container{
  max-width: 100%;
  margin-left: 14%;
  flex-wrap: wrap;
 }
  

 .titulo{
  top: 53%;
  left: 85%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins';
  font-size: 1.7vw;
  color: var(--conteudo);
 }

 .sub{
  top: 89%;
  left: 85%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins';
  font-size: 1.2vw;
  color: #fff;
 }
 
  
  /*=== FOOTER ====*/
  footer{
    height: auto;
    position: relative;
  }
  .cadastro-prof {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 550;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
  
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .rodape {
    position: relative;
    width: 100%;
    margin-top: 2rem;
    bottom:0;
  }
  .ondas{
    width: 100%;
}
  
  /*=== MEDIA QUERRIES ====*/
  

