* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  background-image: url(../assets/nova_etapa.svg);
  background-position-x: center;
  background-position-y: 100px;
  background-repeat: no-repeat;
  background-size: 36rem;
}

/*Media Query*/

@media(max-width:436px){
  .size{
    font-size:10.3px;
  }
}

/*Fim de Media Query*/


/*Barra de Navegação*/

.navbar {
  background: linear-gradient(180deg, #2D0C58 0%, #25074D 100%);
  font-weight: 500;
  margin-left: 0.70rem;
  margin-right: 0.70rem;
}

.navbar a {
  color: #fff;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: #AA3EFE !important;
}

#logo {
  font-weight: 500;
}

.image_logo {
  background-image: url(../assets/logo.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 55px;
}

.image_logo:hover {
  background-image: url(../assets/logo_hover.svg);
  transition: 0.5s;
}
/*Fim Barra de Navegação*/

/*Main*/