/*=== GERAL ====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --titulo: hsla(0, 0%, 0%, 1);
    --conteudo: hsla(0, 0%, 100%, 1);
    --secundario: hsla(237, 10%, 41%, 1);
    --botoes: hsla(237, 100%, 96%, 1);
  
    font-size: 62.5%; /* 1rem = 10px */ /*Ou Seja 10px = 1rem, 100px = 10rem, 75px = 7.5rem*/
  }
  
  /* HEADER */
  
  header {
    background: linear-gradient(180deg, #1B1C37 0.51%, #1B1C37 0.52%, #292A52 100%);
    border: 1px solid;
    border-radius: 2rem;
    min-width: fit-content;
    display: flex;
    justify-content:space-around;
    align-items:center;
    margin: 4.9rem 3.8rem 2rem 3.8rem;
    height: 9.4rem;
  }
  .container_logo{
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content:space-between;
  }
  .container_botoes{
    display: flex;
    justify-content: space-between;
    width: 30rem;
  }
  .botao {
    text-decoration: none;
    font-family: 'Poppins';
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
  }
  .container_login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22rem;
  }
  .entrar {
    text-decoration: none;
    color: #fff;
    background: #7579FF;
    align-items: center;
    border: none;
    border-radius: 12px;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    width: 12rem;
    height: 4.6rem;
  }
  /* FIM HEADER*/
  
  /*=== Article ====*/
  article h1 {
    max-width: 80rem; 
    min-width: 32rem; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 6.5rem;
    line-height: 10rem;
    color: var(--titulo);
    margin-top: 1.5rem;
    margin-left: 4rem;
  }
  
  /*=== FORMS e Butões ====*/
  form h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 7.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    max-width: 80rem;
    min-width: 32rem;
  }
  form input {
    margin-top: 1.5rem;
    border: 1px solid;
    border-radius: 7px;
    background-color: var(--botoes);
    width: 100%;
    height: 4.5rem;
    max-width: 55.9rem;
    max-height: 4.5rem;
    outline: 0 none;
    box-shadow: none;
    margin-left: 2rem;
    box-shadow: none;
  }
  form input:focus {
    box-shadow:0px -5px 0px 0px #7579FF inset;
  }
  
  form button {
    background-color: var(--botoes);
    margin-left: 20px;
  }
  #aceito,
  #proximo {
    background-color: #7579ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: var(--conteudo);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 3.9rem;
    padding-left: 3rem;
    padding-right: 3rem;
    
  }
  #aceito {
    border-radius: 12px;
    margin-left: 4rem;
    outline: none;
  }
  #proximo {
    margin-left: 5rem;
    outline: none;
  }
  
  /*=== BOTÃO LEIA MAIS ====*/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbt {
    font-size: 16px;
    border: 1px solid;
    border-radius: 7px;
    outline: none;
    color: var(--secundario);
    padding: 14px 16px;
    background-color: var(--botoes);
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    margin-left: 2.2rem;
    box-shadow:0px -2px 0px 0px #7579FF inset;

  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #7579ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: var(--conteudo);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: var(--secundario);
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /*=== SECTIONS ====*/
  section.coluna-a {
    display: grid; /*Coloquei grid nas seções para pooder separar o forms do svg*/
    grid-template-columns: 1fr 1fr;
    grid-area: auto;
  }
  
  .svg-container {
    display: inline-block;
    position: relative; /*Sem position relative ou absolute top e right não funcionam*/
    top: -10rem;
  }
  
  .svg-container svg {
    float: left;
    object-fit: contain;
  }
  
  .svg-container h3 {
    position: absolute;
    top: 16rem;
    right: 11rem;
    color: var(--conteudo);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 5.5rem;
    text-align: center;
    min-width: 32rem;
    max-width: 80rem;
    margin-top: -0.5rem;
    height: 100vh;
  }
  
  
  .svg-container p {
    position: absolute;
    margin-top: 1rem; /* talvez nem precise desse margin-top*/
    height: 100vh;
    top: 28rem;
    right: 9rem;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 3.5rem;
    min-width: 32rem;
    max-width: 80rem;
    margin-top: 3rem;
  }
  
  /*=== FOOTER ====*/
  footer{
    height: auto;
    position: relative;
  }
  .cadastro-prof {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 550;
    font-size: 2.2rem;
    line-height: 4.8rem;
    text-transform: uppercase;
  
    margin-top: -8rem;
    margin-left: 2rem;
  }
  .rodape {
    position: relative;
    width: 100%;
    margin-top: 2.5rem;
    bottom:0;
  }
  .ondas{
    width: 100%;
}
  
  /*=== MEDIA QUERRIES ====*/
  @media (max-width: 1505px) {
    .svg-container h3 {
      font-size: 4.2rem;
      margin-bottom: auto;
    }
    .svg-container p {
      font-size:23px;
      text-align: right;
      margin-top: auto;
    }
  }
  
  @media (max-width:1299px){
    header{
      min-width: fit-content;
      flex-direction: column;
      text-align: center;
    }
  
  header a,
  header button {
    flex-direction: column;
  }
    section.coluna-a {
      display:inline-block;
    }
    .svg-container{
      margin-block: 15rem;
      width: 100vw;
    }
    .cadastro-prof{
      margin-left: 2rem;
    }
    .rodape {

      height: 100%;
    }
    }
